<div class="profile col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
  <section id="wrapper">
    <header id="header">
      <a href='{{ with .Site.Params.avatarLink }}{{ . }}{{ else }}{{ .Site.BaseURL }}about{{ end }}'>
        <img id="avatar" class="2x" src="{{ .Site.BaseURL }}images/avatar.jpg"/>
      </a>
      <h1>
        <a target="_blank" href="{{ .Site.Author.homepage }}">@{{ .Site.Author.name }}</a>
      </h1>
      {{ with .Site.Params.bio }}<h2>{{ . | markdownify }}</h2>{{ end }}
    </header>
  </section>
</div>
