<!-- <script src="{{ "js/highlight.pack.js" | relURL }}"></script> -->
<script src="{{ "js/prism/prism.js" | relURL }}"></script>
<script src="{{ "js/quicklink@2.3.0.umd.js" | relURL }}"></script>
<script src="{{ "js/prism/components.js" | relURL }}"></script>
{{ if not .IsHome -}}
<script src="{{ "js/prism/components/prism-typescript.min.js" | relURL }}"></script>
<script src="{{ "js/prism/components/prism-python.min.js" | relURL }}"></script>
<script src="{{ "js/prism/components/prism-bash.min.js" | relURL }}"></script>
{{- end }}
{{ if and .Site.Params.lazyImage (not .IsHome) -}}
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script>
<script>
  const lazyImage = new LazyLoad({
    container: document.getElementById('article')
  });
</script>
{{ end }}
<script>
  // hljs.initHighlightingOnLoad();
  
  const posts = document.getElementById('posts-list');
  posts && quicklink({
    el: posts,
    priority: true,
  });

  const footer = document.querySelector('.posts-footer-age');
  footer && (footer.textContent = '©2018-' + new Date().getFullYear())
</script>
